@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply font-raleway text-white
  }

  body {
    @apply bg-pageBg
  }
}

@layer components {
  .container {
    @apply max-w-[1188px] mobile:px-3
  }
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #f0f0f0;
  transition: background-color 5000000s ease-in-out 0s;
} */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #131523 inset;
  -webkit-text-fill-color: #f0f0f0;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #131523 inset;
  -webkit-text-fill-color: #f0f0f0;
}

input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #131523 inset;
  -webkit-text-fill-color: #f0f0f0;
}

/* .iti {
  --iti-path-flags-1x: url('/demo-game-api/assets/flags.webp');
  --iti-path-flags-2x: url('/demo-game-api/assets/flags@2x.webp');
  --iti-path-globe-1x: url('/demo-game-api/assets/globe.webp');
  --iti-path-globe-2x: url('/demo-game-api/assets/globe@2x.webp');
} */

.iti {
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(240, 240, 240, 0.2);
  border-radius: 8px;
  font-weight: 700;
}

.iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  background-color: #253265;
}

.iti__search-input {
  display: none !important;
}

.iti__country-list li.iti__highlight {
  background-color: #33417B;
}

.iti__country-list li span {
  color: #f0f0f0;
}

.iti__dropdown-content {
  top: 105%;
  border-radius: 8px !important;
  overflow: hidden !important;
  border-color: #4E5881 !important;
}

html {
  font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum=1';
  -ms-font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -o-font-feature-settings: 'lnum';
}



main {
  height: calc(100dvh - 59px);
}

.scroll-lock {
  overflow: hidden;
}

.game-wrapper.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 0;
  border: none;
  z-index: 10000;
}

.game-wrapper.fullscreen iframe {
  min-height: 100%;
}

.overlay.is-open {
  display: grid;
}

.reg-target-btn {
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
  animation: btnShadow 1.5s ease infinite forwards;
  position: relative;
  overflow: hidden;
}

.reg-target-btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  position: absolute;
  left: -150%;
  top: 0;
  animation: shine 1.5s ease infinite forwards;
}

@keyframes btnShadow {
  0% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
  }

  100% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}

@keyframes shine {
  100% {
    left: 150%;
  }
}

.header-lang-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: all 0.3s;
}

.header-lang-list.is-open {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s;
}

.sidemenu {
  width: 0;
  transition: width 0.2s ease-in-out;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #272f50;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #8A95C1;
  border-radius: 8px;
}

.sidemenu.is-open {
  width: 219px;
  transition: width 0.2s ease-in-out;
}

.sidegame-btn.is-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sidegame-list {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  box-sizing: content-box;
  will-change: transform;
}

.sidegame-list.is-active {
  opacity: 1;
  transition: all 0.2s;
}

.menu-overlay {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.menu-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.slide-down::before {
  content: '';
  width: 50px;
  height: 5px;
  background-color: #8a95c1;
  border-radius: 2.5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.language-overlay {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.language-overlay .language-mobile-list {
  bottom: -100%;
  transition: 0.3s;
}

.language-overlay.is-open {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s;
}

.language-overlay.is-open .language-mobile-list {
  bottom: 0;
  transition: 0.3s;
}

.payments-row::before {
  content: '';
  height: 100%;
  width: 50px;
  background: linear-gradient(to right, #8726FF 20%, #8726FF00 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.payments-row::after {
  content: '';
  height: 100%;
  width: 50px;
  background: linear-gradient(to left, #8D20A8 20%, #8726FF00 100%);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}

.payments-list li {
  width: 116px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.language-link.active {
  background-color: #272f50;
}

@media (max-width: 992px) {
  .sidemenu {
    transition: all 0.3s;
  }

  .sidemenu.is-open {
    left: 0;
    transition: all 0.3s;
  }
}

@media (max-width: 767px) {
  .header-lang-list {
    opacity: 0;
    bottom: -100%;
    transition: 0.3s;
  }

  .header-lang-list.is-open {
    opacity: 1;
    bottom: 0;
    transition: 0.3s;
  }
}

@media (max-width: 576px) {

  .sidemenu.is-open {
    width: 100%;
  }

  .payments-list-modal li {
    max-width: 50px;
  }
}

.main-overlay.is-open {
  display: grid;
}

.form-content {
  display: none;
}

.form-content.active {
  display: block;
}

.modal-tabs button.active {
  border-color: #F4FD2B;
  color: #F4FD2B;
}

.modal-tabs button[data-tab='email'].active svg {
  stroke: #F4FD2B;
}

.modal-tabs button[data-tab='phone'].active svg {
  stroke: #F4FD2B;
}

.modal-tabs button[data-tab='social'].active svg {
  fill: #F4FD2B;
}

.modal-tabs button[data-tab='oneclick'].active svg {
  stroke: #F4FD2B;
}

.checkbox:hover .checkbox-content::before {
  background-image: url('../img/unckecked.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.checkbox-input:checked+.checkbox-content::before {
  background: url('../img/ckecked.svg'), #F4FD2B;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.checkbox-content::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #272f50;
  background-color: #0e0f20;
  position: absolute;
  left: 0;
  top: 3px;
}

.socials-item {
  box-shadow: inset 0 2px 3px 0 rgba(255, 255, 255, 0.25);
  background: #253265;
  position: relative;
  overflow: hidden;
}

.socials-item::before {
  content: '';
  width: 30px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(4px);
}

.social-variant-input:checked+.socials-item {
  background-color: #fff;
}

.social-variant-input:checked+.socials-item svg {
  fill: #0e0f20;
}

/* Validation */

.valid {
  border-color: #4ED937;
}

.non-valid {
  border-color: #FF5530;
}

.form-email.valid .validation-cta .correct {
  display: block;
}

.form-email.non-valid .validation-cta {
  display: flex;
}

.form-email.non-valid .validation-cta .wrong {
  display: block;
}

.form-password.valid .password-cta .correct {
  display: block;
}

.form-password.non-valid .password-cta .wrong {
  display: block;
}

.error-alert.is-visible {
  opacity: 1;
  visibility: visible;
}

.error-alert::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

.terms-input.non-valid+span::before {
  border-color: #FF5530;
}

.form-phone.valid {
  border: 1px solid #4ED937;
  border-radius: 8px;
}

.form-phone.valid .form-phone-cta {
  display: block;
}

.form-phone.non-valid .form-phone-cta {
  display: block;
}

.form-phone.valid .form-phone-cta .correct {
  display: block;
}

.form-phone.non-valid .form-phone-cta .wrong {
  display: block;
}

.form-phone.non-valid {
  border: 1px solid #FF5530;
  border-radius: 8px;
}

.modal-tabs button::before {
  content: '';
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #ffffff50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 2;
  filter: blur(15px);
  will-change: filter;
  opacity: 0;
  transition: 0.2s;
}

.modal-tabs button.active::after {
  content: '';
  width: 50px;
  height: 30px;
  border-radius: 50px;
  background: #F4FD2B50;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
  z-index: 10;
  filter: blur(15px);
  will-change: filter;
}

.modal-tabs button.active::before {
  display: none;
}

.modal-tabs button:hover::before {
  opacity: 1;
}

.modal-tabs button.active:hover::before {
  background: #F4FD2B50;
}

.decline-title {
  filter: drop-shadow(0px 0px 15px #000000);
}

.decline-title span {
  background: linear-gradient(180deg, #ff9696 0%, #ff3838 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.decline-yellow-btn {
  box-shadow: inset 0 4px 4px 0 rgba(255, 255, 255, 0.75);
  background: linear-gradient(180deg, #f4fd2b 0%, #ffa434 100%);
}

.next-deposit {
  background: url('../img/next-deposit-bg.webp'), linear-gradient(180deg, rgba(20, 130, 255, 0.4) 0%, rgba(20, 130, 255, 0.4) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}

.banner-big-text {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.your-winning {
  background: url('../img/your-winning-bg.webp'), linear-gradient(180deg, rgba(78, 217, 55, 0.4) 0%, rgba(24, 94, 13, 0.4) 100%);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: contain;
}

.form-yellow-btn {
  position: relative;
  overflow: hidden;
}

.form-yellow-btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #f0f0f020;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.form-yellow-btn:hover::before {
  opacity: 1;
  visibility: visible;
}

.social-variant-input:disabled+span {
  opacity: 0.4;
}

.submit-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.form-yellow-btn svg {
  display: none;
}

.form-yellow-btn span {
  display: block;
}

.form-yellow-btn.loading svg {
  display: block;
}

.form-yellow-btn.loading span {
  display: none;
}