@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply font-raleway text-white
  }

  body {
    @apply bg-pageBg
  }
}

@layer components {
  .container {
    @apply max-w-[1188px]
  }
}

main {
  height: calc(100dvh - 59px);
}

.scroll-lock {
  overflow: hidden;
}

.game-wrapper.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: 0;
  border: none;
  z-index: 10000;
}

.game-wrapper.fullscreen iframe {
  min-height: 100%;
}

.overlay.is-open {
  display: grid;
}

.modal-reg-btn {
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
  animation: btnShadow 1.5s ease infinite forwards;
  position: relative;
  overflow: hidden;
}

.modal-reg-btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  position: absolute;
  left: -150%;
  top: 0;
  animation: shine 1.5s ease infinite forwards;
}

@keyframes btnShadow {
  0% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.15);
  }

  100% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}

@keyframes shine {
  100% {
    left: 150%;
  }
}

.header-lang-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: all 0.3s;
}

.header-lang-list.is-open {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s;
}

.sidemenu {
  width: 0;
  transition: width 0.2s ease-in-out;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #272f50;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #8A95C1;
  border-radius: 8px;
}

.sidemenu.is-open {
  width: 219px;
  transition: width 0.2s ease-in-out;
}

.sidegame-btn.is-open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.sidegame-list {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s;
  box-sizing: content-box;
  will-change: transform;
}

.sidegame-list.is-active {
  opacity: 1;
  transition: all 0.2s;
}

@media (max-width: 992px) {
  .sidemenu {
    transition: all 0.3s;
  }

  .sidemenu.is-open {
    left: 0;
    transition: all 0.3s;
  }
}

@media (max-width: 576px) {

  .sidemenu.is-open {
    width: 100%;
  }
}