@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-pageBg
  }
}

@layer components {
  .container {
    @apply max-w-[1389px]
  }
}

.game-wrapper.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 0;
  border: none;
  z-index: 10000;
}

.game-wrapper.fullscreen iframe {
  min-height: 100%;
}

.overlay.is-open {
  display: grid;
}